/* Desktop */
@media (min-width: 1025px) {
  .site-navbar {
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    overflow: hidden;
    background-color: #ffffff; /* ← REQUIRED for blur to follow radius */
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999;
  }

  .navbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
    color: #dae3cf;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .nav-menu a {
    background: linear-gradient(to right, #0B74B0, #75479C, #BD3861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 6px;
    font-weight: 600;
    transition: opacity 0.2s ease;
  }

  .nav-menu a:hover,
  .nav-menu a.active {
    background: linear-gradient(to left, #0B74B0, #75479C, #BD3861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #0B74B0, #75479C, #BD3861) 1;
    opacity: 0.8;
    font-weight: 700;
    padding-bottom: 6px;
    transition: 0.3s ease;
  }
  
  .navbar-btn {
    background: #0b7c20;
    color: #ffffff;
    margin-left: 10px;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
  .word {
    margin-right: 8px;   /* space between words */
  }
  .header-name {
    display: flex;
    align-items: center;
    font-family: "Copperplate Gothic Bold";
    text-transform: uppercase;
    line-height: 1;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 0px;
    color: black;
  } 
  .big-letter {
    font-size: 38px;
  }
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  .site-navbar {
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    overflow: hidden; /* ← REQUIRED for blur to follow radius */
    background-color: #ffffff; /* ← REQUIRED for blur to follow radius */
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999;
  }

  .navbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
    color: white; /* shows on top of BG */
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .nav-menu a {
    background: linear-gradient(to right, #0B74B0, #75479C, #BD3861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 0.2s ease;
    border-bottom: 6px;
  }
  
  .nav-menu a:hover,
  .nav-menu a.active {
    background: linear-gradient(to left, #0B74B0, #75479C, #BD3861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    border-bottom: 6px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #0B74B0, #75479C, #BD3861) 1;
    transition: 0.25s ease;
  }
  .navbar-btn {
    background: #0b7c20;
    color: #ffffff;
    margin-left: 10px;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
  .word {
    margin-right: 8px;   /* space between words */
  }
  .header-name {
    display: flex;
    align-items: center;
    font-family: "Copperplate Gothic Bold";
    text-transform: uppercase;
    line-height: 1;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0px;
    color: black;
  } 
  .big-letter {
    font-size: 30px;
  }
}
@media (max-width : 1024px) and (min-width:800px){
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .site-navbar {
    display: none;
    /* position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    border-radius: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    overflow: hidden; 
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 9999; */
  }

  .navbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
    color: white; /* shows on top of BG */
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-menu a:hover,
  .nav-menu a.active {
    background: linear-gradient(to left, #0B74B0, #75479C, #BD3861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    transition: 0.25s ease;
  }
  

  .navbar-btn {
    background: #0b7c20;
    color: #ffffff;
    margin-left: 10px;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
}
