/* ------------------- DESKTOP ------------------- */
@media (min-width: 1025px) {
  .footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 40px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #0B74B0, #75479C, #BD3861) 1;
    background-color: #ffffff;
    color: #000;
    padding: 100px 30px 100px 30px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-logo {
    font-weight: 700;
    color: #005b25;
    width: 300px;
  }

  .footer-desc {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-left: 30px;
    text-align: left;
  }

  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  .footer-section h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section {
    margin-top: 20px;
  }
  .footer-section ul li {
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
    cursor: pointer;
  }
}

/* ------------------- TABLET ------------------- */
@media (max-width: 1024px) and (min-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 75px 30px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #0B74B0, #75479C, #BD3861) 1;
    background-color: #ffffff;
    color: #000;
    align-items: start;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-logo {
    font-weight: 700;
    color: #005b25;
    font-size: 1.5rem;
  }

  .footer-desc {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }

  .social-icons {
    display: flex;
    gap: 12px;
    margin-top: 8px;
  }

  .footer-section h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .footer-section {
    margin-top: 20px;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
    cursor: pointer;
  }
}

/* ------------------- MOBILE ------------------- */
@media (max-width: 599px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 25px 30px;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to left, #0B74B0, #75479C, #BD3861) 1;
    background-color: #ffffff;
    color: #000;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    font-weight: 700;
    color: #005b25;
    font-size: 1.3rem;
  }

  .footer-desc {
    text-align: center;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .footer-section {
    margin-top: 10px;
  }

  .footer-section h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 15px;
    color: #555;
    cursor: pointer;
  }
}
