@media (max-width: 767px) {

    .home-container {
      background-color: #faf9f6;
      height: auto;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 20px;
      padding-top: 80px;
    }
  
    .home-text-box {
      position: relative;
      left: 0;
      top: 0;
      max-width: 100%;
      text-align: center;
    }
  
      .home-heading {
        color: #000000;
        font-size: 70px;
        margin-bottom: 20px;
        font-weight: 900;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
      }
  
    .home-desc {
      color: #000000;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 40px;
      font-family: Inter, sans-serif;
    }
  
    /* GREEN TILTED CARD */
    .home-tilted-card {
      position: relative;
      width: 90%;
      margin-left: 5%;
      height: 300px;
      border-radius: 24px;
      background: #c9dc95;
      transform: rotate(-6deg);  /* tilt added */
      margin-top: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
      z-index: 1; /* sits behind image card */
    }
  
    /* IMAGE CARD ABOVE GREEN CARD */
    .home-image-card {
      position: relative;
      width: 90%;
      margin-left: 5%;
      height: 300px;
      border-radius: 24px;
      background: linear-gradient(145deg,#fff,#f7f7f7);
      border: 1px solid rgba(0,0,0,0.07);
      overflow: hidden;
      /* margin-bottom: 20px; */
      margin-top: -300px; /* pulls card upward */
      z-index: 2; /* sits ABOVE green card */
    }
  
    .home-image {
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  
    /* GUARANTEE SECTION */
    .home-guarantee-section {
      padding: 80px 20px;
      background: white;
    }
  
    .home-guarantee-container {
      max-width: 1280px;
      margin: auto;
    }
  
    .home-guarantee-header {
      text-align: center;
      margin-bottom: 60px;
    }
  
    .home-guarantee-title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #111;
    }
  
    .home-guarantee-sub {
      font-size: 20px;
      color: #666;
      max-width: 900px;
      margin: auto;
    }
  
    .home-guarantee-grid {
      display: grid;
      gap: 32px;
    }
  
    .home-guarantee-card {
      padding: 32px;
      border-radius: 20px;
      background: linear-gradient(135deg,#f1fbea,white);
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }
  
    .home-guarantee-icon-wrap {
      width: 64px;
      height: 64px;
      border-radius: 16px;
      background: #16a34a;
      color: #fafafa;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .home-guarantee-icon-wrap svg {
      height: 32px;
      width: 32px;
    }
    .home-guarantee-card-title {
      font-size: 22px;
      margin-bottom: 12px;
      color: #111;
      font-weight: 700;
    }
  
    .home-guarantee-card-desc {
      color: #666;
      font-size: 16px;
      line-height: 1.5;
    }
  
    /* QUOTE */
    .home-quote-section {
      padding: 50px 20px;
      background: linear-gradient(135deg,#15803d,#166534);
      text-align: left;
      color: white;
    }
  
    .home-quote-symbol {
      font-size: 60px;
      margin-bottom: 20px;
    }
  
    .home-quote-title {
      font-size: 45px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  
    .home-quote-desc {
      font-size: 22px;
      max-width: 850px;
      margin: auto;
      line-height: 1.6;
    }
  
    /* CTA */
    .home-cta-section {
      padding: 80px 20px;
      text-align: center;
      background: white;
    }
  
    .home-cta-title {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: 700;
      color: #111;
    }
  
    .home-cta-desc {
      font-size: 20px;
      margin-bottom: 40px;
      color: #666;
    }
  
    .home-cta-btn {
      background: #16a34a;
      color: white;
      padding: 14px 40px;
      border-radius: 12px;
      font-weight: 600;
      font-size: 20px;
      border: none;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
  
    .home-container {
      background-color: #faf9f6;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10%;
      padding: 40px;
      position: relative;
      overflow: hidden;
    }
  
    .home-text-box {
      position: relative;
      /* max-width: 40%; */
      text-align: left;
    }
  
    .home-heading {
      color: #000000;
      font-size: 60px;
      margin-bottom: 20px;
      font-weight: 900;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    }
  
    .home-desc {
      color: #000000;
      font-size: 18px;
      line-height: 1.3;
    }
  
    .home-tilted-card {
      width: 300px;
      position: relative;
      height: 350px;
      /* margin-top: 20px; */
      transform: rotate(-8deg);  /* tilt added */
      border-radius: 24px;
      background: #c9dc95;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }
  
    .home-image-card {
      width: 300px;
      height: 350px;
      position: relative;
      margin-top: -350px;
      border-radius: 24px;
      z-index: 100;
      background: linear-gradient(145deg,#fff,#f7f7f7);
      border: 1px solid rgba(0,0,0,0.07);
      overflow: hidden;
      /* margin-bottom: 50px; */
    }
  
    .home-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  
    /* GUARANTEE SECTION */
    .home-guarantee-section {
      padding: 80px 20px;
      background: white;
    }
  
    .home-guarantee-container {
      max-width: 1280px;
      margin: auto;
    }
  
    .home-guarantee-header {
      text-align: center;
      margin-bottom: 60px;
    }
  
    .home-guarantee-title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  
    .home-guarantee-sub {
      font-size: 20px;
      color: #666;
      max-width: 900px;
      margin: auto;
    }
  
    .home-guarantee-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .home-guarantee-card {
      padding: 32px;
      border-radius: 20px;
      background: linear-gradient(135deg,#f1fbea,white);
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }
    .home-guarantee-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    }
  
    .home-guarantee-icon-wrap {
      width: 64px;
      height: 64px;
      background: #16a34a;
      color: #fafafa;
      border-radius: 16px;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .home-guarantee-icon-wrap svg {
      height: 35px;
      width: 35px;
    }
    .home-guarantee-card-title {
      font-size: 22px;
      color: #111;
      margin-bottom: 12px;
    }
  
    .home-guarantee-card-desc {
      font-size: 16px;
      line-height: 1.5;
      color: #666;
    }
  
    /* QUOTE */
    .home-quote-section {
      padding: 100px 20px;
      background: linear-gradient(135deg,#15803d,#166534);
      text-align: center;
      color: white;
    }
  
    .home-quote-symbol {
      font-size: 60px;
      margin-bottom: 20px;
    }
  
    .home-quote-title {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  
    .home-quote-desc {
      font-size: 22px;
      max-width: 850px;
      margin: auto;
      line-height: 1.6;
    }
  
    /* CTA */
    .home-cta-section {
      padding: 80px 20px;
      text-align: center;
      background: white;
    }
  
    .home-cta-title {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  
    .home-cta-desc {
      font-size: 20px;
      margin-bottom: 40px;
      color: #666;
    }
  
    .home-cta-btn {
      padding: 14px 40px;
      font-size: 20px;
      background: #16a34a;
      color: white;
      border-radius: 12px;
      border: none;
    }
  
  }
  @media (min-width: 1024px) {
  
    .home-container {
      background-color: #faf9f6;
      width: 100%;
      height: 600px;
      position: relative;
      overflow: hidden;
    }
  
    .home-text-box {
      position: absolute;
      top: 50px;
      left: 70px;
      max-width: 45%;
    }
  
    .home-heading {
      color: #000000;
      font-size: 60px;
      margin-bottom: 20px;
      font-weight: 900;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    }
  
    .home-desc {
      color: #000000;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
    }
  
    .home-tilted-card {
      position: absolute;
      right: 120px;
      top: 50px;
      width: 30%;
      height: 60%;
      background: #c9dc95;
      transform: rotate(-8deg);
      border-radius: 24px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }
  
    .home-image-card {
      position: absolute;
      right: 120px;
      top: 50px;
      width: 30%;
      height: 60%;
      border-radius: 24px;
      background: linear-gradient(145deg,#fff,#f7f7f7);
      border: 1px solid rgba(0,0,0,0.07);
      overflow: hidden;
    }
  
    .home-image {
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  
    /* GUARANTEE */
    .home-guarantee-section {
      padding: 80px 20px;
      background: white;
    }
  
    .home-guarantee-container {
      max-width: 1280px;
      margin: auto;
    }
  
    .home-guarantee-header {
      text-align: center;
      margin-bottom: 60px;
    }
  
    .home-guarantee-title {
      font-size: 36px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  
    .home-guarantee-sub {
      font-size: 20px;
      max-width: 900px;
      margin: auto;
      color: #666;
    }
  
    .home-guarantee-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(4,1fr);
    }
  
    .home-guarantee-card {
      padding: 32px;
      border-radius: 20px;
      background: linear-gradient(135deg,#f1fbea,white);
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    }
    .home-guarantee-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    }
  
    .home-guarantee-icon-wrap {
      width: 64px;
      height: 64px;
      background: #16a34a;
      color: #fafafa;
      border-radius: 16px;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .home-guarantee-icon-wrap svg {
      height: 40px;
      width: 40px;
    }
    .home-guarantee-card-title {
      font-size: 22px;
      margin-bottom: 12px;
      color: #111;
    }
  
    .home-guarantee-card-desc {
      font-size: 16px;
      line-height: 1.5;
      color: #666;
    }
  
    /* QUOTE */
    .home-quote-section {
      padding: 100px 20px;
      /* text-align: center; */
      background: linear-gradient(135deg,#15803d,#166534);
      color: white;
    }
  
    .home-quote-symbol {
      font-size: 60px;
      margin-bottom: 20px;
    }
    .home-quote-left-symbol {
      font-size: 60px;
      margin-bottom: 20px;
    }
    .home-quote-right-symbol {
      font-size: 60px;
      margin-bottom: 20px;
    }
  
    .home-quote-title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 700;
    }
  
    .home-quote-desc {
      font-size: 22px;
      text-align: center;
      max-width: 850px;
      margin: auto;
      line-height: 1.6;
    }
  
    /* CTA */
    .home-cta-section {
      padding: 80px 20px;
      text-align: center;
      background: white;
    }
  
    .home-cta-title {
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  
    .home-cta-desc {
      font-size: 20px;
      margin-bottom: 40px;
      color: #666;
    }
  
    .home-cta-btn {
      padding: 14px 40px;
      background: #16a34a;
      border-radius: 12px;
      color: white;
      border: none;
      font-size: 20px;
      font-weight: 600;
    }
  
  }
  